<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Placeholder Title{% endblock %} - SmarterGroceries</title>
		<link rel="stylesheet" href="static/styles/main.css" type="text/css">
	</head>
	<body>
		<div id="main">
			<div id="header">
				<img src="static/assets/logo.png" id="logo">
				<div id="title-container">
					<h1>SmarterGroceries</h1>
					<em>A smarter way to handle your groceries</em>
				</div>
				<div id="session">
				{% if session.username %}
					Logged in as {{ session.username }} | <a href="logout">Log out</a>
				{% else %}
					<a href="login">Log in</a> | <a href="register">Register</a>
				{% endif %}
				</div>
			</div>
			{% if error_message %}
				<div class="error">
					<p>{{ error_message | e }}</p>
				</div>
			{% endif %}
			<div id="content">{% block content %}{% endblock %}</div>
			<div id="footer">
				<a href="/">Return to main page</a><br />
				Developed by Team Solar @ HackUTA 2018 - <a href="https://github.com/HackUTA-Solar/SmarterGroceries">Github</a>
			</div>
		</div>
	</body>
</html>
