{% extends 'base.html' %}
{% block title %}Your pantry{% endblock %}
{% block content %}
<div id="data-table">
	<table style="width : 100%" , id="products">
		<tr>
			<th>Product Type</th>
			<th>Stored Condition</th>
			<th>Stored Location</th>
			<th>Expiration Time (Days)</th>
			<th>Category</th>
			<th>Comments</th>
		</tr>
	{% if items %}
		{% for item in items %}
			<tr>
				<td>{{ item.type }}</td>
				<td>{{ item.condition }}</td>
				<td>{{ item.location }}</td>
				<td>{{ item.days }}</td>
				<td>{{ item.category }}</td>
				<td>{{ item.comments }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td colspan="6" style="text-align: center">You don't have any items in your pantry!</td>
		</tr>
	{% endif %}
	</table>
</div>
	<h3>Add item:</h3>
		<form id="add-item" action="add" method="post" enctype="multipart/form-data">
			<p><label>Category</label>
				<select name="category" value="Other">
					<option value="1">Dairy</option>
					<option value="2">Protein</option>
					<option value="3">Fruit</option>
					<option value="4">Grain</option>
					<option value="5">Vegetable</option>
					<option value="6">Other</option>
				</select></p>
			<p><label>Product type (e.g. banana, cheese)</label><input type="text" name="type"></p>
			<p><label>Product condition</label>
				<select name="condition">
					<option value = "1">Unopened</option>
					<option value = "2">Opened</option>
					<option value = "3">Cooked</option>
				</select></p>
			<p><label>Storage location</label>
				<select name="location">
					<option value = "1">Counter</option>
					<option value = "2">Pantry</option>
					<option value = "3">Refrigerator</option>
					<option value = "4">Freezer</option>
				</select></p>
			<p><label>Date purchased</label><input type="date" name="purchased"></p>
			<p><label>Expiration date</label><input type="date" name="expdate" id="expdate"></p>
			<p><label>Input manually</label><input type="checkbox" name="override" id="override"></p>
			<p><label>Additional comments</label><input name="comments" type="text"></p>
			<p><input type="submit" name="submit"></p>
		</form>
{% endblock %}
